@import "tailwindcss";

@theme {
  --color-brand-light: #2DD4BF;
  --color-brand: #0D9488;
  --color-brand-dark: #0F766E;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
}

/* Yeh map aur layout ko screen par fit karega */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
